<header class="site-header">

  <div class="wrapper">
    <nav class="site-nav">
      <div class="nav-container">
        <a class="site-name" href="/"><span style="font-weight: 500;">William</span> <span style="font-weight: 500;">Schultz</span></a>
        <div class="nav-links">
          <a class="page-link" href="/">home</a>
          <a class="page-link" href="/posts">writing</a>
        </div>
      </div>
    </nav>
  </div>


   <script async src="https://www.googletagmanager.com/gtag/js?id=G-0MVL3YF9HQ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-0MVL3YF9HQ');
    </script>

</header>
