<table style="margin: 0 auto;">
<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 0</b>: Initial State</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_0.png" alt="Logless Raft Diagram" height="48.0">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 1</b>: BecomeLeader(n1, ['n1', 'n2', 'n3'])</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_1.png" alt="Logless Raft Diagram" height="48.0">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 2</b>: ClientRequest(n1)</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_2.png" alt="Logless Raft Diagram" height="48.0">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 3</b>: ClientRequest(n1)</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_3.png" alt="Logless Raft Diagram" height="48.0">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 4</b>: ClientRequest(n1)</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_4.png" alt="Logless Raft Diagram" height="48.0">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 5</b>: MergeEntries(n2, n1)</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_5.png" alt="Logless Raft Diagram" height="48.0">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 6</b>: MergeEntries(n3, n1)</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_6.png" alt="Logless Raft Diagram" height="48.0">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 7</b>: CommitEntry(n1, ['n1', 'n2', 'n3'])</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_7.png" alt="Logless Raft Diagram" height="48.0">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 8</b>: ClientRequest(n1)</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_8.png" alt="Logless Raft Diagram" height="48.0">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 9</b>: BecomeLeader(n2, ['n2', 'n3', 'n4'])</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_9.png" alt="Logless Raft Diagram" height="48.0">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 10</b>: ClientRequest(n2)</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_10.png" alt="Logless Raft Diagram" height="93.0">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 11</b>: MergeEntries(n3, n2)</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_11.png" alt="Logless Raft Diagram" height="93.0">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 12</b>: MergeEntries(n4, n2)</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_12.png" alt="Logless Raft Diagram" height="93.0">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 13</b>: CommitEntry(n2, ['n2', 'n3', 'n4'])</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_13.png" alt="Logless Raft Diagram" height="93.0">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 14</b>: ClientRequest(n2)</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_14.png" alt="Logless Raft Diagram" height="93.0">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 15</b>: BecomeLeader(n3, ['n1', 'n3', 'n4'])</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_15.png" alt="Logless Raft Diagram" height="93.0">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 16</b>: ClientRequest(n3)</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_16.png" alt="Logless Raft Diagram" height="115.4">
</td>
</tr>

<tr>
<td style="text-align: left; font-size: 12px;padding: 15px"><b>State 17</b>: MergeEntries(n1, n2)</td>
<td style="text-align: left;padding: 18px">
<img src="/assets/logless-raft/imgs/log_tree_17.png" alt="Logless Raft Diagram" height="93.0">
</td>
</tr>
</table>